rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允许 6 人小分队读写行程与投票数据
    match /trips/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
